matrix:
  include:
    - language: c
      sudo: false
      before_install:
        - source <(curl -SLs https://raw.githubusercontent.com/newdigate/teensy-midi-looper/master/Software/install-travis-ci-arduino.sh)
      install:
        - arduino --install-library "MIDI Library","Adafruit SleepyDog Library","Adafruit FONA Library","Queue","SD","Adafruit GFX Library","Adafruit ST7735 Library","Encoder"
      script:
        - build_main_platforms
        
    - os: osx
      language: cpp
      before_install:  
        #install brew
        - /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
        - brew info llvm
        - travis_wait 60 brew install --with-toolchain llvm
        - brew update
        - brew upgrade 
        - cd Software/arduino/cmake-build-debug
        - cmake ..
        - make 
        

notifications:
  email:
    on_success: change
    on_failure: change
